*, *::before,*::after{
    padding: 0px;
    margin: 0px;
	box-sizing: border-box;
}


@font-face{
	src:url("../font/FuturaLT.ttf");
	font-family: FuturalT-Book;
}
@font-face{
	src:url("../font/FuturaLT-Bold.ttf");
	font-family: FuturalT-Bold;
}
body{
	width: 1400px;
	font-family: FuturalT;
	font-size: 15px;
	line-height: 1.2;
	margin: 0px auto;
}
header{
    height: 134px;
    width: 1400px;
}
.container{
	margin-left: 120px;
	margin-right: 120px;
	height: auto;
}
.top-header{
   
    height: 42px;
    background: #ffcb0f;
}
.header{
   
    height: 92px;
    background: #222533;
	font-family: FuturalT-Book;
}
.top-header .top-contact ul li{
	list-style: none;
	float: left;
	margin-top: 10px;
	margin-right: 15px;
}
.top-header .top-contact{
	width: 600px;
	height: 42px;
	display: inline-block;
	font-family:FuturalT-Book;
}
.top-header .top-contact ul li img{
	margin-right: 6px;
}
.top-contact i{
	padding-right: 10px;
}
.top-header .social-media {
	margin-left: 30px;
	display: inline-block;
	float: right;
}
.top-header .social-media ul li{
	list-style: none;
	float: left;
	margin-left: 10px;
	margin-top: 10px;
}
.logo{
	width:200px;
	margin: 20px 0px;
	display: inline-block;
	
}
.logo .construction{
	color:#ffcb0f;
	font-family: FuturalT-Bold;
	font-style: oblique;
	font-size: 24px;
}
.logo p{
	color:#ffffff;
	font-family: FuturalT-Book;
	font-size: 15px;
	color: rgb(183, 183, 183);
}
.navigation{
	display: inline-block;
	height: 60px;
	float: right;
	margin-top: 35px;
}
.navigation ul li{
	margin-left: 30px;
	list-style: none;
	float: left;
}
.navigation ul li a:hover{
	color: #ffcb0f;
}
.navigation ul li a{
	text-decoration: none;
	color:#ffffff; 
}
.Main-Banner{
	width: 1400px;
	height: 650px;
	background: url("../image/Layer 9.jpg") no-repeat;
	background-size: 1400px 650px;
	text-align: center;
}
.Banner-Content{
	font-family: FutaralT-Book;
	text-align: center;
	color: white;
	display: inline-block;
	margin-top: 100px;
}
.bn-first{
	font-size: 30px;
}
.bn-second{
	font-family: FuturalT-Bold;
	font-size: 40px;
}
.bn-third{
	font-family: FuturalT-Bold;
	font-size: 40px;
	color: #ffcb0f;
}
.bn-four{
	font-family: FuturalT-Book;
	padding: 0px 250px;
	font-size: 18px;
	margin-top: 20px;
}
.btn{
	background: #ffcb0f;
	font-family: FuturalT-Bold;
	width: 157px;
	height: 45px;
	border: none;
	border-radius: 15px;
	margin: 70px 30px;
}
.btn a{
	color: #ffffff;
	text-decoration: none;
}
.btn a:hover{
	color: #222222;
}
.About-Company{
	width: 1400px;
	height: 472px;
}
.About-left{
	display: inline-block;
	max-width: 550px;
	margin-top: 80px;
}
.ct-AC1{
	font-family: FuturalT-Bold;
	color: #ffcb0f;
	font-size: 32px;
}
.ct-AC2{
	font-family: FuturalT-Bold;
	color: rgb(72, 72, 72);
	font-size: 25px;
	margin-bottom: 20px;
}
.ct-basic{
	font-family: FuturalT-Book;
	color: rgb(72, 72, 72);
	font-size: 16px;
}

.btn-AC{
	margin-left: 0px;
}
.About-right{
	text-align: center;
	width: 500px;
	float: right;
	display: inline-block;
	background: url("../image/Layer 2.png");
}
.Why-chosse-us{
	width: 1400px;
	height: 600px;
	background: #f2f7fa no-repeat;
}
.WCU{
	
	display: flex;
}
.top-WCU{
	
	text-align: center;
	display: inline-block;
	margin-top: 40px;
	
}

.col-WCU{
	 text-align: center;
	margin: 50px 40px;
	width: 300px;
	padding: 0px 0px;
		
}
.ct-WCU1{
	font-family: FuturalT-Bold;
	font-size: 30px;
	color: rgb(72, 72, 72);
	margin-bottom: 30px;
}
.ct-WCU2{
	font-family: FuturalT-Bold;
	font-size: 16px;
	color: rgb(72, 72, 72);
	margin-bottom: 20px;
}
.Our-services{
	width: 1400px;
	height: 690px;
}
.OS{
	display: flex;
	
}
.top-OS{
	font-family: FuturalT-Bold;
	font-size: 30px;
	color: rgb(72, 72, 72);
	margin-bottom: 30px;
	text-align: center;
	margin-top: 70px;
}
.col-OS{
	margin: 20px ;
}
.ct-OS{
	font-family: FuturalT-Bold;
	font-size: 18px;
	color: rgb(72, 72, 72);
	margin: 20px auto;
}
.circle-one{
	width: 150px;
	height: 150px;
	background: #ffea9f;
	border-radius: 90px;
	margin: 30px;
}
.circle-two{
	width: 130px;
	height: 130px;
	position: absolute;
	margin: 10px 10px;
	background: #fadb64;
	border-radius: 80px;
}
.circle-three{
	width: 110px;
	height: 110px;
	position: absolute;
	margin: 10px 10px;
	background: #ffcb0f;
	border-radius: 80px;
}
.circle-four{
	width: 90px;
	height: 90px;
	position: absolute;
	margin: 10px 10px;
	background: #ffffff;
	border-radius: 80px;
	
	
}
.circle-four img{
	margin-top: 20px;
}

.Made-with-love{
	width: 1400px;
	height: 880px;
	background: url("../image/Layer 3.jpg") no-repeat;
	
}
.top-MWL {
	padding-top: 60px ;
}
.ct-MWL1{
	text-align: center;
	font-family: FuturalT-Bold;
	font-size: 25px;
	color: #ffffff;
	margin: 20px 0px;
}
.ct-MWL2{
	font-family: Futural-Book;
	color: #ffffff;
	text-align: center;
	font-size: 16px;
}
.MWL{
	margin: 60px auto;
}
.scrollmenu {
  background-color:none;
	margin: 40px;
	text-align: center;
	
}
.scrollmenu a {
  display: inline-block;
  color:#ffffff ;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}
.scrollmenu a:hover{
	background-color: #282828;
	border-radius: 30px;
}
.grid-container {
  display: grid;
}

.grid-item {
  
}

.item1 {
	
  grid-column: 1 ;
  grid-row: 1/ span 2;
	margin-right: 3px;
}

.item3 {
  grid-column:3;
  grid-row: 1;
}
.item2 {
  grid-column: 2;
  grid-row: 1 ;
	margin-right: 3px;
}
.item4{
	margin-right: 3px;
}
.item4 img{
	margin-top: 8px;
}
.item5 img{
	margin-top: 8px;
}
.Customer-reviews{
	width: 1400px;
	height: 810px;
	background: url("../image/Layer 17.jpg") no-repeat;
}
.CR{
	margin: 50px 0px;
	display: flex;
	height: 430px;
	justify-content: space-between;
}
.col-CR{
	width: 350px;
	margin: 20px 0px;
}
.col-CR-mid{
	width: 400px;
}
.col-CR .ct-col-CR{
	
	display:flex;
	width: 100%;
	height: 280px;
	background: url("../image/talk1.png") no-repeat;
	background-size: 100% 100%;
	padding: 30px 20px;
}
.col-CR-mid .ct-col-CR{
	
	display:flex;
	width: 100%;
	height: 320px;
	background: url("../image/talk2.png") no-repeat;
	background-size: 100% 100%;
	padding: 30px 20px;
}

#image{
	height: 30px;
	margin-right: 5px;
}
.image-CR{
	text-align:center;
	margin: 15px auto;
}
.foot-CR{
	height: 136px;
	background: #ffcb0f;
	opacity: 0.8
}
.nav{
	width: 1400px;
	height: 40px;
	background: #5d6066;
}
.left-foot-CR{
	width: 550px;
	margin: 30px 0px;
	display: inline-block
}
.ct-foot-CR1{
	font-family: FuturalT-Bold;
	color: #73757e;
	font-size: 30px;
	margin: 0px 0px;
}
.ct-foot-CR2{
	font-family: FuturalT-Book;
	color: #73757e;
	font-size: 40px;
}
.right-foot-CR{
	width: 600px;
	display: inline-block;
	vertical-align:top;
	margin: 30px 0px;
}
.form-control1{
	width: 270px;
	height: 35px;
	border: none;
	border-radius: 5px;
	margin: 0px 10px;
	padding-left: 9px;
} 

.bot-right-foot-CR{
	margin-top: 10px;
}
.btn-FT{
	
}
.form-control{
	width: 450px;
	height: 35px;
	border: none;
	border-radius: 5px;
	margin: 0px 10px;
	padding-left: 9px;
}
footer{
	width: 1400px;
	height: 400px;
	background: url("../image/Layer 4.jpg");
}
footer .container-footer{
	display: flex;
	margin-left: 120px;
	color: #ffffff;
	padding: 50px 0px;
	justify-content: space-between;
}
.items-footer{
	width: 350px;
	
}

.nav-last{
	width: 1400px;
	height: 60px;
	text-align: center;
	background: #1a1c27;
	color: #ffffff;
	padding: 20px;
}
.items-footer-about{
	max-width: 400px;
	margin-right: 30px;
	padding-right: 40px;
		
}

.items-footer-about ul li{
	float: left;
	list-style: none;
	margin-top: 30px;
	margin-right: 18px;
	width: 40px;
	height: 40px;
	background: #ffcb0f;
	text-align: center;
	border-radius: 30px;
}
.items-footer-about ul li img{
	margin-top:10px;
}
.items-footer-explor{
	width: 200px;
}
.items-footer-explor ul{
	list-style: none;
}
.items-footer-explor ul li{
	margin: 10px 0px;
}
.items-footer-latest{
	width: 250px;
}
.items-footer-latest ul{
	list-style:none;
}

.items-footer-latest ul li{
	height: 40px;
	margin: 20px auto;
	
}
.items-footer-latest .post-img{
	width: 40px;
	height: 40px;
	background: url("../image/eclip1.png")  ;
	background-size: 40px 40px;
	text-align: center;
	margin-right: 10px;
	position: absolute;
}
.circle-1{
	width: 49px;
	height: 49px;
	background: #ffffff;
	border-radius: 40px;
	text-align: center;
	display: inline-block;
}
.circle-2{
	width: 45px;
	height: 45px;
	margin: 2px;
	position: absolute;
	background: #222222;
	border-radius: 40px;
}
.li-ct{
	width: 150px;
	margin: 10px;
	font-family: FuturalT-Book;
	font-size: 14px;
	color: #ffffff;
	display: inline-block;
	vertical-align: top;
}
.ct-ft1{
	font-family: FuturalT-Book;
	font-size: 20px;
}
.ct-ft2{
	font-family: FuturalT-Book;
	font-size: 14px;
	color: #ffffff;
	margin: 2px 0px;
}
.ct-ft2 i{
	margin-right: 20px;
}
.items-footer-contact i{
	margin-right: 20px;
}
.items-footer-contact{
	margin-let: 20px;
}
.items-footer-contact p{
	margin-bottom: 20px;
}
.btn-FT{
	margin: 0px;
	background: #73757e;
	width: 100px;
	height: 35px;
	border-radius: 5px;
}
